@import url('https://fonts.googleapis.com/css2?family=Anton:wght@300;400;500&family=Faustina:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,300;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background: #f0f0f0;
    font-family: sans-serif;
    height: 100vh;
    justify-content: center;
    /* text-align: center; */
}

header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    padding: 15px 60px;
    background-color: #fff;
    align-items: center;
}

header h1 {
    color: #444;
    border-bottom: 3px solid #4bbaee;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    border-bottom: 3px solid #4bbaee;
}

section {
    width: 850px;
    height: 425px;
    background-color: #fff;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding-left: auto;
    padding-right: auto; */

    /* margin-right: 150px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #666;
}

section h1 {
    font-family: 'Anton', sans-serif;
    font-weight: 300;
    color: #4bbaee;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}

section .link-container, .format-container, .button-container {
    
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 500px;
}

section .link-container label, .format-container label {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

section .link-container input, .format-container select {
    outline: none;
    height: 35px;
    border-radius: 25px;
    padding: 0 10px;
    border: 2px solid #666;
    font-size: 14px;
}

section .button-container button {
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: #4bbaee;
    letter-spacing: 1px;
    cursor: pointer;
}

footer {
    /* top: 90%; */
    bottom: 0;
    right: 0;
    position: fixed;
    /* display: block; */
    left: 0;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    margin-top: 30px;
    padding: 8px 60px;
    background-color: rgba(255, 255, 255, 0.818);
    align-items: center;
}

footer span {
    font-size: 12px;
    color: #666;
}

@media only screen and (max-width: 850px) {

    section {
        width: 500px;
        /* margin-right: 20px;
        margin-left: 20px; */
    }

    section .link-container,
    .format-container,
    .button-container {
        width: 300px;
    }
}

@media only screen and (max-width: 550px) {

    section {
        width: 350px;
        height: 450px;
        /* margin-right: 20px;
        margin-left: 20px; */
        margin-top: 50px;
    }

    section .link-container,
    .format-container,
    .button-container {
        width: 300px;
    }
}

